@import "../../style/default.less";

.header {
	background-color: @colorM;
	.header-top {
		height: 60px;
		line-height: 60px;
		padding: 0 20px;
		text-align: right;
		a {
			margin-left: 20px;
		}
	}
	.breadcrumb {
		height: 40px;
		line-height: 40px;
		padding: 0 20px;
		border-top: 1px solid #f9c700;
		.breadcrumb-title {
			text-align: center;
			font-size: @fontC;
			&:after {
				position: absolute;
				content: '';
				left: 80px;
				top: 39px;
				border-top: 9px solid @colorM;
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
			}
		}
		.weather {
			text-align: right;
			font-size: 14px;
			.date {
				vertical-align: middle;
			}
			.weather-img {
				margin-left: 20px;
				img {
					height: 15px;
				}
			}
			.weather-detail {
				margin-left: 10px;
				vertical-align: middle;
			}
		}
	}
}