@import "./default.less";

.container {
	display: flex;
	.nav-left {
		height: calc(100vh);
		background-color: #001529;
	}
	.main {
		height: calc(100vh);
		background-color: @colorL;
	}
	.content {
		position: relative;
		padding: 20px;
	}
}