@import "./default.less";
@import "./loading.less";
.container {
	display: flex;
	.nav-left {
		height: calc(100vh);
		background-color: #001529;
	}
	.main {
		height: calc(100vh);
		background-color: @colorL;
		overflow: auto;
	}
	.content {
		position: relative;
		padding: 20px;
	}
}